{% extends 'base.html' %}

{% block content %}
<style>
.sidebar{
position: fixed;
top: 40px;
background-color: whitesmoke;
overflow-y: scroll;
bottom: 0;
left: 0;
z-index: 1030;
padding: 20px 0;
border-right: 1px solid #eee;

}
.nav-card{
width: 235px;
height: 200px;
margin-left: 3px;
background-color: white;
}
.body-card{

}
.card-text-new{

font-size: small;

}
.headings{
font-family: "Times New Roman", Times, serif;
z-index: 2000;
width: 90%;
border-bottom: 1px solid #eee;
padding-top: 13px;
padding-bottom: 5px;
}
.heading-below-text{
padding: 13px 10px 0px 10px;
}
.card-title-modify{
font-size: larger;
}
.type{
font-size: smaller;
float: right;
padding: 1px;
}
.link-style{
color: black;
}
</style>
<div class="container" >

{% include "sidebar.html" %}

<div class="" style=" margin-top: 60px; margin-left: 10%; margin-right: 100px;">
<form class="form-group row" method='POST' action='' >
{% csrf_token %}
  <!--<label for="example-text-input" class="col-3 col-form-label" >Create Cheatsheet:</label>-->
  <div class="col-9">
    <input class="form-control" type="text" value="" name="ctitle" style="margin-left: 200px;"  placeholder="Create new cheatsheet">
    <button type="submit" class="btn btn-primary" style="margin-top: 5px;  margin-left: 200px;">Submit</button>
    </div>
    </form>


</div>
<div style=" margin-left: 10%;">
<div class="col" style=" ">
{% for a in c %}
<div class="card" style="margin-bottom: 10px; ">
  <div class="card-block">
    <h4 class="card-title">{{ a.cheatsheet_title }}  <a href="{% url 'removecheat' a.cheatsheet_title  %}"><i class="fa fa-trash-o fs-lg" style="padding-left: 90%;" aria-hidden="true"></i></a></h4>
    <p class="card-text"></p>
    {% for b in cn %}
        {% if a.cheatsheet_title == b.cheatsheet_title %}
        {% for na in n %}
        {% if b.note_id == na.noteid %}

            <div class="card body-card">
              <a class="card-link link-style" href="{% url 'note_view' na.noteid  %}">
                <div class="card-block" style="">
                    <h4 class="card-title card-title-modify">{{ na.title | safe }} </h4>

                    <p class="card-text card-text-new"> {{ na.content | safe }} </p>
                </div></a>
              </div>
              {% endif %}
              {% endfor %}
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
</div>
</div></div>
{% endblock %}