{% extends 'base.html' %}

{% block content %}
<style>
.sidebar{
position: fixed;
top: 40px;
background-color: whitesmoke;
overflow-y: scroll;
bottom: 0;
left: 0;
z-index: 1030;
padding: 20px 0;
border-right: 1px solid #eee;

}
.nav-card{
width: 235px;
height: 200px;
margin-left: 3px;
background-color: white;
}
.body-card{

width: 238px;
height: 200px;
margin: 10px;
background-color: #FFFFF0;
}
.card-text-new{
overflow-x: scroll;
overflow-y: hidden;
width: 212px;
height: 130px;
font-size: small;

}
.headings{
font-family: "Times New Roman", Times, serif;
z-index: 2000;
width: 90%;
border-bottom: 1px solid #eee;
padding-top: 13px;
padding-bottom: 5px;
}
.heading-below-text{
padding: 13px 10px 0px 10px;
}
.card-title-modify{
font-size: larger;
}
.type{
font-size: smaller;
float: right;
padding: 1px;
}
.link-style{
color: black;
}
</style>
{% include "sidebar.html" %}





{% endblock %}