{% extends 'base.html' %}

{% block content %}
<style>
.similar_card{
height: 250px;
width: 280px;
overflow: hidden;
margin: 5px;
}

.card-text-new{
overflow-x: hidden;
overflow-y: hidden;
width: 212px;
height: 130px;
font-size: small;

}
.headings{
font-family: "Times New Roman", Times, serif;
z-index: 2000;
width: 80%;
margin-left: 150px;
border-bottom: 1px solid #eee;
padding-top: 0px;
padding-bottom: 5px;
}
.heading-below-text{
padding: 13px 10px 0px 10px;
}
.card-title-modify{
font-size: larger;
}
.type{
font-size: smaller;
float: right;
padding: 1px;
}
.link-style{
color: black;
}
</style>
<div class="card" style=" margin: 10%; height: 100%;">
  <div class="card-block">
    <h4 class="card-title">{{ notes.title |safe }}   <small style="font-size: 13px; color: darkgrey;">    {{ notes.date }}</small></h4>
    <h6 class="card-subtitle mb-2 text-muted">Author:{{ notes.username }}</h6>
    <p class="card-text">{{notes.content |safe}}</p>
    {% if notes.username == user.username %}
    <a href="{% url 'note_update' notes.noteid %}" class="card-link">Edit</a>
    <a href="{% url 'note_delete' notes.noteid %}" class="card-link">Delete</a>
    {% endif %}

    {% if notes.tagged == 0 %}
    <a href="{% url 'note_tag' notes.noteid %}" class="card-link">Tag</a>
    {% else %}
    <a href="{% url 'note_untag' notes.noteid %}" class="card-link">Remove Tag</a>
    {% endif %}

    {% if notes.username != user.username %}
    {% if Likes == None %}
    <a href="{% url 'note_upvote' notes.noteid %}" class="card-link">
    <i class="fa fa-chevron-up fa-lg" style="color: green;" aria-hidden="true"></i>
    </a>
    <a class="btn" style="padding: 0px 3px 0px 3px; color: black;   margin-right: 5px;">{{ notes.upvote }}</a>

    <a href="{% url 'note_downvote' notes.noteid %}" class="card-link">
    <i class="fa fa-chevron-down fa-lg" style="color: darkred;" aria-hidden="true"></i>
    </a>
    <a class="btn" style="padding: 0px 3px 0px 3px; color: black; ">{{ notes.downvote }}</a>
    {% else %}
    <a  class="card-link" style="color: grey;">Upvotes:</a>
    <a class="card-link" style=" color: green;   margin: 0px 0px 0px 0px;">{{ notes.upvote }}</a>
    <a  class="card-link" style="color: grey;">Downvotes:</a>
    <a class="card-link" style=" color: red; margin: 0px 0px 0px 0px;">{{ notes.downvote }}</a>
    {% endif %}
    {% endif %}
    {% if notes.username == user.username %}
    <a  class="card-link" style="color: grey;">Upvotes:</a>
    <a class="card-link" style=" color: green;   margin: 0px 0px 0px 0px;">{{ notes.upvote }}</a>
    <a  class="card-link" style="color: grey;">Downvotes:</a>
    <a class="card-link" style=" color: red; margin: 0px 0px 0px 0px;">{{ notes.downvote }}</a>

    {% endif %}
    <div class="btn-group dropdown"style="margin-left: 15px;">
  <button class="btn btn-secondary dropdown-toggle" style="padding: 5px; color: dimgrey;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to cheatsheet
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for b in c %}
  {% if b.user_id == user.username %}
  {% if not cn %}
    <a class="dropdown-item" href="{% url 'addtocheat' b.cheatsheet_title notes.noteid %}">{{ b.cheatsheet_title }}</a>
    {% endif %}
   {% for cnn in cn %}

   {% if cnn.cheatsheet_title == b.cheatsheet_title %}
    <a class="dropdown-item" href="{% url 'removefromcheat' b.cheatsheet_title notes.noteid %}" style="background-color: lawngreen;">{{ b.cheatsheet_title }} (added)</a>

    {% else %}
    <a class="dropdown-item" href="{% url 'addtocheat' b.cheatsheet_title notes.noteid %}">{{ b.cheatsheet_title }}</a>
    {% endif %}
    {% endfor %}


    {% endif %}
   {% endfor %}
   {% if c.user_id != user.username %}
   <a class="dropdown-item" href="{% url 'cheatsheet' %}" >Create cheatsheet</a>
   {% endif %}
  </div>
</div>
  </div>
  <!-- Similar notes imp-->
</div>
<h4 class="headings" style=" ">Similar Notes,</h4>
<div class="row" style="margin-left: 150px;">

{% for a in title_rec %}
{% if a.username != user.username %}
<div class="card similar_card">
    <a class="card-link link-style" href="{% url 'note_view' a.noteid  %}">
        <div class="card-block">
            <h4 class="card-title card-title-modify">{{ a.title | safe |striptags}}</h4>
            <p class="card-text card-text-new">{{ a.content | safe | striptags}}</p>
        </div>
    </a>
    <a href="#" class="card-link" style=" ">Tag</a>
</div>
{% endif %}
{% endfor %}

{% for a in content_rec %}
{% if a.username != user.username %}
<div class="card similar_card">
    <a class="card-link link-style" href="{% url 'note_view' a.noteid  %}">
        <div class="card-block">
            <h4 class="card-title card-title-modify">{{ a.title | safe |striptags}}</h4>
            <p class="card-text card-text-new">{{ a.content | safe | striptags}}</p>
        </div>
    </a>
    <a href="#" class="card-link" style=" ">Tag</a>
</div>
{% endif %}
{% endfor %}



</div>

{% endblock %}