<style>
.scrolltext{
overflow: scroll;
}
.sidebar{
position: fixed;
top: 40px;
background-color: whitesmoke;
overflow-y: scroll;
bottom: 0;
left: 0;
z-index: 1030;
padding: 20px 0;
border-right: 1px solid #eee;

}
.nav-card{
width: 235px;
height: 200px;
margin-left: 3px;
background-color: white;
}

.card-text-new{
overflow-x: scroll;
overflow-y: scroll;
width: 212px;
height: 130px;
font-size: small;

}
.card-title-modify{
font-size: larger;
}
.link-style{
color: black;
}
</style>
<div class="col-sm-3 col-md-1 col-lg-1" >
  <nav class="col-sm-3 col-md-2 d-sm-block bg-light d-none sidebar ">
        <ul class="nav nav-pills flex-column" style=" position: fixed; ">
        <form class="form-inline my-2 my-lg-0" method='GET' action=''>
      <input class="form-control mr-sm-2" type="text" name="query" value="{{request.GET.query}}" style="width: 235px; margin-left: 3px; margin-bottom: 3px;" placeholder="Search notes">
    </form>
  <div style="overflow: scroll;height: 90vh;">
 <!--   <div class="card nav-card">
        <div class="card-block">
            <h4 class="card-title card-title-modify">Quick note</h4>
            <textarea class="form-control card-text" id="exampleTextarea" rows="5"></textarea>
        </div>
    </div>-->
    {% if not tagged_notes %}
     <div class="card nav-card" >
              <a class="card-link link-style" href="#">
                <div class="card-block" style="">
                    <h4 class="card-title card-title-modify"></h4>

                    <p class="card-text card-text-new" style="padding-top: 28%; padding-left: 15%;"> Nothing Tagged Yet! </p>
                </div></a>
              </div>
{% endif %}
    {% for n in tagged_notes %}
     <div class="card nav-card" >
              <a class="card-link link-style" href="{% url 'note_view' n.noteid  %}">
                <div class="card-block" style="">
                    <h4 class="card-title card-title-modify">{{ n.title |safe |striptags}}  </h4>

                    <p class="card-text card-text-new scrolltext"> {{ n.content | safe| striptags }} </p>
                </div></a>
              </div>
{% endfor %}

</ul>
</nav>
</div>